<!-- {\% load static menu %} -->
{% load static %}
<div class="footer-inner">
    <div class="info">
        <a class="footer-brand" href="/">
            {% block footer-brand %}
            <img src="{% static 'brand/logo.svg' %}"></img>
            {% endblock %}
        </a>
        {% block footer-blurb %}
        <p class="about-text">Welcome to the <a href="{% url 'planner' %}">Marine Planner</a>, an Interactive mapping tool.</p>
        {% endblock %}

    <!--
    <form id="mailinglist-form" action="http://point97.createsend.com/t/d/s/jruluy/" method="post" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <label for="fieldEmail" class="sr-only">Sign up for our email list</label>
                <div class="inner-addon">
                    <i class="fa fa-envelope left"></i>
                    <i class="fa fa-arrow-right right" onclick="document.getElementById('mailinglist-form').submit();"></i>
                    <input id="fieldEmail" name="cm-jruluy-jruluy" type="email" required class="form-control" style="display:inline" placeholder="Sign up for our email list">
                </div>
            </div>
        </div>
    </form>
  -->
    <div class="social-links">
      {% block social-links %}
      <!--
        <a class="fa-stack fa-lg" href="https://www.facebook.com/acctname" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x deep-blue"></i>
        </a>
        <a class="fa-stack fa-lg" href="https://twitter.com/acctname" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x deep-blue"></i>
        </a>
      -->
      {% endblock %}
    </div>

    <div class="contact">
      {% block contact %}
      <a class="email" href="mailto:ksdev@ecotrust.org">ksdev@ecotrust.org</a>
      {% endblock %}
    </div>

  </div>
  <!--
  {\% menus "footer" "plain" %}
-->
</div>
